*.png filter=lfs diff=lfs merge=lfs -text
Assets/ThirdParty/Wispy[[:space:]]Sky/Textures/SkyBox020001.tif filter=lfs diff=lfs merge=lfs -text
*.cubemap filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
